.AppBar {
    border-bottom: solid;
    color: white;
}

.worldGlobe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    margin-bottom: 0 !important;
    padding-top: 0.85em;
    padding-bottom: 0.5em;
    height: 34em;
}

.Paper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;
    margin: 1em;
    height: 34em;
    padding: 1em;
}

.graph-div {
    display: flex;
    justify-content: center;
    align-items: top;
}

.graph-container {
    
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    height: 34em;
}

.worldMap-container {
    height: 50em;
}